// Variables
@import 'variables';

// Bootstrap
@import '~admin-lte/build/scss/adminlte';



// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';



.btn-height
{
  margin-top: 32px !important
}
.label-font-weight
{
  font-weight: 700 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 26px !important;
}
.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus {
  outline: none !important;
  border: none !important;
}
.select2-container--default .select2-dropdown .select2-search__field, .select2-container--default .select2-search--inline .select2-search__field {
  border: none !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0px !important;
}
.select2-search__field
{
  display: inline;
}

.btn-order
{
  position: absolute !important;
  right: 0 !important;
  bottom: 0!important;
  width: 100%!important;
  padding: 11px!important;
  border-radius: 0px!important;
}